.covering-pane {
    /*-fx-background-color: radial-gradient(radius 150%, red, darkgray, black);*/
    -fx-background-color: rgba(3, 9, 26, 0.91);
}

.alert {
    -fx-background-color: rgba(252, 186, 3, 0.95);
}

/*
#left-curtain {
    -fx-background-image: url("../img/curtain.png");
    -fx-background-size: cover;
}*/
