.root{
    -fx-background-image: url('../img/mainmenu/Renaissance_background.jpg');
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
}
.v-box{
    -fx-alignment: center-left;
}

.text-field{
    -fx-background-color: #5B3A29;
    -fx-text-fill: #949492;
    -fx-alignment: center;
    -fx-border-color: #949492;
    -fx-text-size: 20px;
}

.label{
    -fx-alignment: center;
    -fx-background-color: #5B3A29;
    -fx-text-fill: #949492;
    -fx-border-color: #949492;
}

.button{
    -fx-background-image: url('../img/mainmenu/play_button_transparent1.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.button:hover{
    -fx-opacity: 0.8;
}